* {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

*:focus {
    outline-color: var(--color-accent-0);
}

html {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    height: 100%;

    background-color: var(--color-light-0);

    font-family: "Marianne";
    color: var(--color-dark-0);
}

a {
    color: var(--color-dark-0);
    text-decoration: none;
}

/*
    Top Bar
*/
#top-bar {
    display: grid;
    grid-template-columns: 1fr 3em;
    grid-template-rows: repeat(2, min-content);

    top: 1em;
    left: 50%;

    height: 3.4em;
    width: 95vmin;

    box-sizing: border-box;

    padding: 0.3em 1.5em;
    padding-right: 0;

    border-radius: 1.7em;

    translate: -50% 0;

    color: var(--color-dark-1);

    background-color: var(--color-accent-1);
}

#top-bar h1 {
    grid-column: 1;
    grid-row: 1;

    font-size: 1.35em;
}

#top-bar h2 {
    grid-column: 1;
    grid-row: 2;

    font-size: 0.65em;
}

/*
    Menu Button
*/
#menu-button {
    display: block;
    grid-column: 2;
    grid-row: 1 / 3;

    top: 0.2em;

    height: 3em;
    width: 3em;

    appearance: none;

    outline: none;

    border: none;
    border-radius: 1.5em;

    background-color: var(--color-light-1);
}

#menu-button:focus {
    outline: solid;
    outline-color: var(--color-accent-0);
}

#menu-button:hover {
    outline-color: var(--color-accent-1);
}

#menu-button div {
    left: 50%;

    height: 0.2em;
    width: 80%;

    border-radius: 0.1em;

    background-color: var(--color-accent-0);

    translate: -50% 0;

    transition: 0.2s ease-in-out rotate, 0.2s ease-in-out width, 0.2s ease-in-out background-color;
}

#menu-button:hover div {
    background-color: var(--color-accent-1);
}

#top-bar.open #menu-button div {
    width: 70%;

    rotate: 135deg;
}

#top-bar.open #menu-button:hover div {
    width: 80%;
}

#menu-button div:before,
#menu-button div:after {
    display: block;

    position: absolute;
    left: 50%;

    height: 0.2em;
    width: 80%;

    content: "";

    border-radius: 0.1em;

    background-color: inherit;

    translate: -50% -0.6em;

    transition: 0.2s ease-in-out translate, 0.2s ease-in-out rotate, 0.2s ease-in-out width;
}

#menu-button:hover div:before {
    translate: -50% -0.7em;
}

#menu-button:hover div:after {
    translate: -50% 0.7em;
}

#menu-button div:after {
    translate: -50% 0.6em;
}

#top-bar.open #menu-button div:before,
#top-bar.open #menu-button div:after {
    width: 50%;

    translate: -50% -250%;
    rotate: -90deg;
}

#top-bar.open #menu-button div:after {
    translate: -50% 250%;
    rotate: 90deg;
}

#top-bar.open #menu-button:hover div:before {
    translate: -50% -300%;
}

#top-bar.open #menu-button:hover div:after {
    translate: -50% 300%;
}

/*
    Planning Viewer
*/
planning-viewer {
    position: absolute;
    top: 6.4em;
    left: 0;

    height: calc(100% - 6.4em);
    width: 100%;
}