@font-face {
    font-family: "edo_sz";
    src: url("/resource/font/edosz.woff2") format("woff2"),
         url("/resource/font/edosz.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "louis_george_cafe";
    src: url("/resource/font/louis_george_cafe.woff2") format("woff2"),
         url("/resource/font/louis_george_cafe.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}