@font-face {
    font-family: "edosz";
    src: url("/resource/font/edosz.woff2") format("woff2"),
        url("/resource/font/edosz.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}