* {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light-0);

    font-family: "Marianne";
    color: var(--color-dark-0);
}

a {
    color: var(--color-dark-0);
    text-decoration: none;
}

/*
    Nav
*/
@keyframes nav_appear {
    0% {
        translate: 0 calc(-5vmin - 3em);
        scale: 0.2;
    }

    45% {
        translate: 0 calc(-5vmin - 3em);
        scale: 0.2;
    }

    70% {
        opacity: 0;
    }
}

nav {
    position: fixed;
    z-index: 1;
    top: 5vmin;

    width: 100%;
}

nav a {
    float: right;

    margin-right: 1em;

    padding: 0.4em 2em;

    border-radius: 2em;

    background-color: var(--color-light-1);

    animation: 1.7s ease-in-out 0s nav_appear;
}

nav a:first-child {
    animation: 1.9s ease-in-out 0s nav_appear;
}

nav span {
    display: none;

    font-size: 1.5em;
    font-weight: bold;
}

nav svg {
    height: 1.15em;

    fill: var(--color-dark-0);
}

/*
    Header
*/
@keyframes header_appear {
    0% {
        clip-path: inset(50% 45% 50% 45%);
    }

    40% {
        clip-path: inset(21.65% 45% 21.65% 45%);
    }
}

header {
    height: 100vmin;

    overflow: hidden;

    clip-path: inset(21.65% 0% 21.65% 0%);

    animation: 1.5s ease-in-out 0s header_appear;
}

#header-banner {
    display: block;

    top: 50%;

    height: 56.7vmin;
    width: 100%;

    translate: 0 -50%;
    scale: 1.1;

    transition: 0.1s translate;
}

#header-banner img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

@keyframes header_title_appear {
    0% {
        opacity: 0;

        translate: 50vw -80%;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;

        translate: 50vw -50%;
    }
}

#header-title {
    position: absolute;
    top: 50%;

    padding: 0 2em;

    font-family: "EdoSZ";

    white-space: nowrap;

    translate: 0 -50%;

    animation: 1.9s ease-in-out 0s header_title_appear;
}

h1 {
    color: var(--color-light-0);
    font-size: 7.33vmax;
    text-shadow: 0.833vmax 0.833vmax 0 var(--color-accent-0);
}

header h2 {
    color: var(--color-light-1);
    font-size: 2.499vmax;
    text-shadow: 0.283vmax 0.283vmax 0 var(--color-accent-1);
}

/*
    App
*/
#app {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
}

#app section {
    padding: 1.5em;

    text-align: center;
}

#app .title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 4em;

    padding-bottom: 3em;
}

#app .title-highlight {
    color: var(--color-dark-1);
    font-family: "EdoSZ";
    font-size: 1em;
    text-shadow: 0.1em 0.1em 0 var(--color-accent-1);
}

/*
    Footer
*/
footer {
    height: 10em;
}

/*
    Media queries
*/
@media screen and (min-aspect-ratio: 1/1) {
    nav span {
        display: inline;
    }

    nav svg {
        display: none;
    }
}

@media screen and (min-aspect-ratio: 8/13) {
    h1 {
        font-size: 8.33vmax;
        text-shadow: 0.833vmax 0.833vmax 0 var(--color-accent-0);
    }
}